.home {
    background-image: url(../assets/home-back-img.jpg);
    background-size: cover;
    background-position: center;
    height: 92.5vh !important;
    width: 100% !important;
    background-repeat: no-repeat;
    overflow: auto;

    .glass-card {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        color: #fff;
        padding: 20px;
        margin: 15px;
        min-width: 300px;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 15px;
            color: #fff;
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                margin-bottom: 10px;
            }
        }

    }
}