.home {
    background-image: url(../assets/back-img-3.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh !important;
    width: 100% !important;
    background-repeat: no-repeat;
    overflow: auto;
    //background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(13, 6, 42, 1) 100%);


    .glass-card {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        color: whitesmoke;
        padding: 20px;
        // min-width: 25%;
        //width: 25%;
        opacity: 0.8;



        .p-font-size-degination {
            font-size: 20px;
        }

        .p-font-size-tech {
            font-size: 16x;
        }

        .p-font-size {
            font-size: 13px;
        }

        .profile_pic {
            height: 300px;
            width: 300px;
            background-color: black;
            z-index: 1000;
        }

    }
}