.cover-letter {
    background-image: url(../assets/back-img-3.jpg);
    background-size: cover;
    background-position: center;
    height: 93vh !important;
    width: 100% !important;
    background-repeat: no-repeat;
    overflow: auto;

}