.project {
    background-image: url(../assets/back-img-3.jpg);
    background-size: cover;
    background-position: center;
    // height: 100dvh !important;
    // max-height: 100dvh !important;
    min-height: 100dvh !important;

    width: 100% !important;
    background-repeat: no-repeat;
    overflow: auto;
    //background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(13, 6, 42, 1) 100%);

    .main-card {
        //height: 100%;
        overflow: auto;
        display: inline-flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        .glass-card {
            background: rgba(0, 0, 0, 0.9);
            backdrop-filter: blur(20px);
            border-radius: 15px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: 20px;
            opacity: 0.8;
            max-height: 450px;
            width: 320px;
            border: 1px solid darkgoldenrod;
            display: flex;
            flex-direction: column;


            ul>li {
                font-size: 15px;
                color: aqua;

            }

            h3 {
                font-size: 1.5rem;
                margin-bottom: 15px;
            }

            ul {
                list-style-type: none;
                padding-left: 0;

                li {
                    margin-bottom: 10px;
                }
            }

            .git-link {
                font-size: 12px;
            }

        }
    }




}